<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common :: common"></div>
    <style type="text/css">
        body{background-color: #e7eaec;height: 700px;}
        .divStyle{margin-left: 20px;margin-right: 20px;margin-top: 30px;background-color: white;}
    </style>
    <script  th:src="@{/js/module/cost/spend.js}"></script>
</head>
<body>
<div class="divStyle">
    <div class="modal-body">
        <div style="text-align: center;"><h4>支出记录编辑</h4></div>
        <form class="form-horizontal" name="form1" role="form">
            <div class="form-group">
                <label for="spendName" class="col-sm-2 control-label">支出人</label>
                <div class="col-sm-10">
                    <input style="width: 780px;" th:value="${spendInfo.spendName}" type="text" class="form-control" id="spendName" name="spendName">
                </div>
            </div>
            <div class="form-group">
                <label for="spendMatters" class="col-sm-2 control-label">支出事项</label>
                <div class="col-sm-10">
                    <input style="width: 780px;" type="text" th:value="${spendInfo.spendMatters}" class="form-control" id="spendMatters" name="spendMatters">
                </div>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-2 control-label">支出金额</label>
                <div class="col-sm-10">
                    <input style="width: 780px;" type="number" th:value="${spendInfo.amount}" class="form-control" id="amount" name="amount">
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">支出方式</label>
                <div class="col-sm-10">
                    <select style="height: 35px; width:780px;" id="type" name="type" th:field="${spendInfo.type}">
                        <option value ="1">现金</option>
                        <option value ="2">支付宝</option>
                        <option value ="3">微信</option>
                        <option value ="4">转账</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="spendTime" class="col-sm-2 control-label">支出日期</label>
                <div class="col-sm-10">
                    <input style="width: 780px;" type="date" th:value="${#dates.format(spendInfo.spendTime, 'yyyy-MM-dd')}" class="form-control" id="spendTime" name="spendTime">
                </div>
            </div>
            <div class="form-group">
                <label for="remark" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                    <textarea style="width: 780px;" th:text="${spendInfo.remark}" class="form-control" id="remark" name="remark"></textarea>
                </div>
            </div>
            <div><input type="hidden" id="id" th:value="${spendInfo.id}"/></div>
            <div><input type="hidden" id="createTime" th:value="${spendInfo.createTime}"/></div>
            <div style="text-align: center;">
                <button style="width: 80px;" type="button" class="btn btn-default" id="spendClose">取消</button>
                <button style="margin-left: 25px; width: 80px;" type="button" class="btn btn-primary" id="spendSave">保存</button>
            </div>
            </form>
    </div>
</div>
</body>
</html>